body {
  font-family: "Verdana", "Times", serif;
  display: flex;
  height: 100vh;
}

.SideBar {
  background-color: #f5f5dc;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.Main {
  background: #f5f5dc url("./images/main-background.jpg") repeat;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.NavBar {
  background-color: rgb(204, 203, 203);
  height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.JustifiedContent {
  /* flex direction indicates the main axis in which the children are goin to be aligned inside the parent  */
  flex-direction: column;
  display: flex;
  height: 100%;
  /* justify-content indicates where the children are going to be justified inside this parent 
  -- justify-content is an attr inside a parent html
  it affects the main axis indicated in flex-direction*/
  justify-content: space-around;
  align-items: center;
}

.ChatContent {
  background-color: #f8f9fa;
  width: 90%;
  height: 75%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 5px;
  overflow: scroll;
}

.MessageCreator {
  width: 95%;
  height: 10%;
}

.FormMessage {
  display: flex;
  flex-direction: row;
  height: 93%;
  align-items: center;
}

.Message {
  resize: none;
  width: 100%;
  height: 100%;
  margin-right: 8px;
  border-radius: 5px;
}

.DogButton {
  background-color: white;
  border-color: black;
  border-radius: 50%;
}

.DogPaw {
  width: 50px;
  height: 50px;
}

.ProfPic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.Status {
  font-style: italic;
  color: grey;
}

.ProfPicSmall {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}

.ChatBubble {
  background-color: #d4f7cd;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 10px;
  margin-top: 8px;
}

.UserName {
  font-weight: bold;
  margin-bottom: 4px;
}

.datetime {
  font-size: x-small;
  text-align: right;
}
